/* App.css */

/* Base styling for the app container */
body {
  background-image: url("../public/bg-3d-img.jpg"); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Ensure the App container uses the same font */
.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main content styling */
.main-content {
  padding-top: 60px; /* Adjust based on the Navbar height */
  padding-bottom: 20px; /* Add bottom padding to avoid content being cut off */
}

/* Responsive design */
@media (max-width: 768px) {
  .App {
    padding: 0 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}
