/* Projects.css */

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects-list {
  padding: 2rem 1rem; /* Adjusted padding for mobile */
  background: linear-gradient(to bottom right, #ffffff, #3e91d4);
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.projects {
  display: flex;
  flex-wrap: nowrap; /* Ensures all items are in a single row */
  overflow-x: auto; /* Allows horizontal scrolling if needed */
  gap: 1rem; /* Adjust gap */
  padding: 1rem; /* Padding to ensure no content is cut off */
}

.project-card {
  width: 300px; /* Fixed width for project cards */
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  background: linear-gradient(to top left, #ffffff, #95c6ee);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  text-align: center;
  padding: 1rem;
  color: #007acc;
  position: relative;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.project-card:hover::before {
  opacity: 0;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to top left, #ffffff, #b3d8f4);
}

.project-card h3 {
  font-size: 1.4rem; /* Adjusted for readability */
  color: #007acc;
  margin: 0;
  position: relative;
  z-index: 2; /* Ensures text is above the pseudo-element */
}

/* Styles for project detail */
.project-detail {
  padding: 2rem 1rem; /* Adjust padding for mobile */
  background: linear-gradient(to bottom right, #ffffff, #3e91d4);
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.project-detail.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive Enhancements */
@media (max-width: 768px) {
  .projects {
    flex-direction: column; /* Stack items vertically on small screens */
    gap: 1rem; /* Reduce gap on smaller screens */
  }

  .project-card {
    width: 100%; /* Full width on mobile */
    height: auto;
    max-width: 100%; /* No maximum width on mobile */
  }

  .section-title {
    font-size: 2rem; /* Reduce title size on mobile */
  }

  .project-card h3 {
    font-size: 1.2rem; /* Adjusted font size */
  }
}
